- if user.errors.present?
    ul#error_explanation
        - user.errors.full_messages.each do |message|
            li= message

= form_with model: [:admin, user], local: true do |f|
    .form-group
        = f.label :name, '👀 NAME 👀'
        = f.text_field :name, class: 'form-control'
    .form-group
        = f.label :email, '💌 EMAIL 💌'
        = f.text_field :email, class: 'form-control'
    .form-check
        = f.label :admin, class: 'form-check-label' do
            = f.check_box :admin, class: 'form-check-input'
            | ADMIN
    .form-group
        = f.label :password, '🍭 PASSWORD 🍭'
        = f.password_field :password, class: 'form-control'
    .form-group
        = f.label :password_confirmation, '🍬 PASSWORD(confirm) 🍬'
        = f.password_field :password_confirmation, class: 'form-control'
    = f.submit '🐶 OKAY 🐶', class: 'btn btn-primary'
