h1 🌼 Users 🌼

= link_to '⭐️ NEW ⭐️', new_admin_user_path, class: 'btn btn-primary'

.mb-3
table.table.table-hover
    thread.thread-default
        tr
            th= User.human_attribute_name(:name)
            th= User.human_attribute_name(:email)
            th= User.human_attribute_name(:admin)
            th= User.human_attribute_name(:create_at)
            th= User.human_attribute_name(:update_at)
            th
    tbody
        - @users.each do |user|
            tr
                td= link_to user.name, [:admin, user]
                td= user.email
                td= user.admin? ? 'yes' : 'no'
                td= user.created_at
                td= user.updated_at
                td
                    = link_to '🚀 EDIT 🚀', edit_admin_user_path(user), class: 'btn btn-primary mr-3'
                    = link_to '🚛 DELETE 🚛', [:admin, user], method: :delete, data: { confirm: "Are you sure? Delete #{user.name} 😮" }, class: 'btn btn-danger'

